<div class="login-container">
    <h2 class="login-title" translate>loginNoun</h2>
    <form class="form-container">
        <div class="form-group">
            <span class="p-float-label">
                <input pInputText id="username" name="username" [(ngModel)]="username" required />
                <label htmlFor="username" translate>username</label>
            </span>
        </div>
        <br>
        <div class="form-group">
            <span class="p-float-label">
                <input pInputText id="password" name="password" [(ngModel)]="password" required />
                <label htmlFor="password" translate>password</label>
            </span>
        </div>
        <br>
        <button type="submit" class="p-button" (click)="onSubmit()" translate>submit</button>
    </form>
</div>
