@import "src/assets/styles/font-color.scss";
.p-float-label{
    border-color: $font-green;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login-title {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.p-button{
    background-color: $font-green;
    border-color: $font-green;
    color: $font-white;
}

.p-button:hover{
    background-color: $font-white;
    border-color: $font-green;
    color: $font-bold-green;
}