<div class="test">Hydro</div>
<button (click)="print()">printConsole</button>

<br><br>

<p-table [value]="parameters">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
            <th>Default value</th>
            <th>Possible values</th>
                <th>Rules</th>
            <th>Description</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-parameters>
        <tr>
            <td>{{ parameters.name }}</td>
            <td>{{ parameters.type }}</td>
            <td>{{ parameters.value }}</td>
            <td>{{ parameters.default_value }}</td>
            <td>{{ parameters.possible_values }}</td>
            <td>X</td>
            <td>{{ parameters.description }}</td>


        </tr>
    </ng-template>
<p-table/>