@import "src/assets/styles/font-color.scss";
.banner{
    color: $font-white;
    text-align: center;
    padding: 1em;
    background-color: $font-green;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.select-language{
    background-color: $font-white;
    border: solid 1px $font-green;
    border-color: $font-green;
    color: $font-green;
    border-radius: 15px;
    text-align: center;
    float: right;
    margin-right: 5%;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: $font-black;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $font-green;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  nav {
    display: flex;
    justify-content:center; 
    padding: 1rem 1rem; 
    float: right;
    margin-right: 5%;
    
  }
  
  nav ul {
    display: flex; 
    list-style: none;
    
  }
  
  nav li {
    padding-left: 5rem;
    float: right;
  }

.navbar{
  width: 100%;
  height: 20%;
}
a{
  text-decoration: none;
  color: $font-black;
  font-weight: 500;
}
a:hover{
  color: $font-green;
}

img{
  margin-right: 1%;
}

.container{
  min-width: fit-content;
  width: 100%;
  margin-bottom: 100px;
}
.background{
  width: 100%;
  height: auto;
  min-height: 200px;
  margin-top : 1%;
  margin-bottom: 1%;
  display: block;


}
.title {
  position: relative;
  text-align: center;
  color: white; /* Set text color */
}

.title-text{
  position: absolute;
  top: 50%; /* Position text in the vertical center */
  left: 50%; /* Position text in the horizontal center */
  transform: translate(-50%, -50%); /* Center the text precisely */
  //margin-left: 5%; /* Remove default margin */
  font-weight: bold;
  font-size: 4vw;
}

.highlight {
  color: $font-green;
  
}