<div class="container-fluid p-0">
    <div class="banner">
        <span translate>bannerIntro</span>
        <span>
            <select class="select-language" [(ngModel)]="selectLang" name="selectLang" (change)="setTransLanguage()">
                <option *ngFor="let lang of transLang" value="{{lang}}" selected="selectLang">{{ lang }}</option>
            </select>
        </span>
    </div>
    <div class="navbar">
        <img src="../../assets/img/logo1.png">
        <img src="../../assets/img/logo2.png">
        <nav>
            <ul>
            <li ><a class="hover-underline-animation" routerLink="/home" translate>home</a></li>
            <li ><a class="hover-underline-animation" routerLink="/modeling" translate>data</a></li>
            <li ><a class="hover-underline-animation" routerLink="/settings" translate>settings</a></li>
            <li ><a class="hover-underline-animation" routerLink="/login" translate>login</a></li>
            </ul>
        </nav>
    </div>
    <div class="title">
        <h1 class="display-1 title-text">This is title </h1>
        <img src="../../assets/img/background.png" class="background">
    </div>
</div>
