<div class="container-fluid p-0">
    <div class="banner">
        <span translate>bannerIntro</span>
        <span>
            <select class="select-language" [(ngModel)]="selectLang" name="selectLang" (change)="setTransLanguage()">
                <option *ngFor="let lang of transLang" value="{{lang}}" selected="selectLang">{{ lang }}</option>
            </select>
        </span>
    </div>
    <div class="navbar">
        <img src="../../assets/img/logo1.png">
        <img src="../../assets/img/logo2.png">
        <nav>
            <ul>
            <li ><a class="hover-underline-animation" routerLink="/home" routerLinkActive="active" translate>home</a></li>
            <li *ngIf="this.authService.isLoggedIn" ><a class="hover-underline-animation" routerLink="/modeling" routerLinkActive="active" translate>data</a></li>
            <li *ngIf="this.authService.isLoggedIn"><a class="hover-underline-animation" routerLink="/settings" routerLinkActive="active" translate>settings</a></li>
            <li *ngIf="!this.authService.isLoggedIn"><a class="hover-underline-animation" routerLink="/login"  routerLinkActive="active" translate>login</a></li>
            <li *ngIf="this.authService.isLoggedIn"><a class="hover-underline-animation" routerLink="/login"  routerLinkActive="active" translate (click)="logout()">logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="title">
        <h1 class="display-1 title-text" [innerHTML]="title | translate"></h1>
        <!-- <h1 class="display-1 title-text" translate> {{'homeTitle' | translate}}</h1> -->
        <img src="../../assets/img/background.png" class="background">
    </div>
</div>
