<div class="body">
    <div style="display: flex; flex-direction: column; align-items: center; padding-bottom: 75px">
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px; width: 100%;">
            <div class="container" style="display: flex; justify-content: center; align-items: center; width: 100%; margin-bottom: 0;">
                <div class="left-column" style="width: 30%;">
                    <div style="background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 15px; padding: 15px">
                        <h2 style="color: #35B8BE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word; margin-bottom: 10px;">Sommaire</h2>
                        <ol style="list-style-type: decimal; color: #35B8BE; font-size: 18px; font-family: Inter; font-weight: 500; word-wrap: break-word;">
                            <li>Un outil numérique co-construit</li>
                            <li>Un outil pour la prévision saisonnière des débits</li>
                            <li>Une compréhension locale du cycle de l’eau</li>
                            <li>Un cadre d’analyse homogène à l’échelle régionale</li>
                        </ol>
                    </div>
                </div>
                <div class="right-column" style="width: 70%; margin-left: 20px;">
                    <div style="padding: 20px;">
                        <div style="text-align: justify; color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word;">
                            <p>Le projet Cycle hydrologique, Disponibilité de la Ressource et Évolution (CYDRE) a pour objectif général de développer un outil pour la prévision saisonnière des débits de cours d’eau à destination des gestionnaires de bassins versants à l’échelle de la Bretagne. Ce projet devrait ainsi permettre de livrer les éléments nécessaires à la compréhension locale du cycle de l’eau, de proposer un cadre d’analyse homogène à l’échelle régionale sur l’évolution des ressources et de co-construire avec les gestionnaires un outil numérique, simple et opérationnel, permettant de générer des tendances saisonnières de l’évolution des débits à partir de données observables.</p>
                            <p>Dans les régions de socle cristallin, telles que la Bretagne, les tensions sur la ressource en eau ne sont pas rares malgré un climat tempéré représenté par des précipitations régulières et une évapotranspiration limitée en hiver, conditions souvent favorables à la recharge des eaux souterraines. La vulnérabilité des territoires aux années de sécheresse provient de la faible capacité des aquifères à constituer un stock d’eau mobilisable pour le soutien des cours d’eau pendant l’étiage. La Bretagne ne disposant pas de ressources stratégiques pour atténuer les effets du changement climatique, comme peuvent en avoir les grands bassins sédimentaires, les variations climatiques peuvent rapidement entraîner des conséquences importantes et mettre les activités régionales en tension.</p>
                            <p>La prévision des effets du changement climatique sur la disponibilité de la ressource en eau présente un enjeu fort de gestion et de développement mais se heurte aux fortes incertitudes autour de l’évolution des précipitations. Des outils de prévisions à court terme, de l’ordre de quelques semaines ou mois, sont alors nécessaires pour anticiper le plus tôt possible le risque sur les étiages et pour la prise de décision des politiques locales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);; border-radius: 15px; margin-top: 20px; width: 100%;">
            <div style="padding: 20px;">
                <div style="text-align: justify; color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word;">
                    <p>Un travail de recherche a été réalisé par Nicolas Cornette dans le cadre du projet EAUX2050et dans sa thèse “Caractérisation des propriétés hydrodynamiques pour l’études des impacts du changement climatique sur les ressources en eau.” (2019-2022). Il a permis de mieux qualifier les propriétés du milieu souterrain et de quantifier son rôle dans le soutien des étiages, en tenant compte de l’hétérogénéité des propriétés hydrodynamiques des différents bassins versants (perméabilité, la diffusivité ou la porosité des milieux souterrains) dans les modèles hydrologiques.</p>
                    <p>L’objectif général du projet CYDRE est d’utiliser les résultats de modélisation issus de cette thèse afin de fournir des tendances saisonnières de l’évolution des débits aux gestionnaires de bassins versants à l’échelle de la Bretagne. Cette échelle de temps, bien que courte, est pertinente dans le cas des aquifères dominées par une cyclicité annuelle.</p>
                    <p>Le projet CYDRE est porté par le CNRS et le BRGM. Après avoir animé l’émergence du projet, le Creseb reste un partenaire privilégié pour l’élaboration et la mise en œuvre des activités de diffusion ou d’appropriation des résultats du projet. Le projet est cofinancé par l’Union européenne, la Région Bretagne, le CNRS et le BRGM.</p>
                </div>
            </div>
        </div>
    </div>
</div>
